[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flask = "*"

[packages]
pillow = ">=6.2.0"
pytesseract = "*"
requests = "*"
bs4 = "*"
prettytable = "*"

[requires]
python_version = "3.7"
